<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADDVENT</title>
    {% load staticfiles %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'user/style.css' %}">
    {% block styles %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
    <div id="header_container">
        <div id="header_bar">
            <img id="header_logo" src="{% static 'user/addvent_logo.png' %}" onclick="location.href='/';">
            <button class="header_button" onclick="location.href = '{% url "user:register" %}';">Register</button>
            <button class="header_button" href="#">Login</button>
            <button class="header_button" onclick="location.href = '{% url "user:event-add" %}';">Add event</button>
        </div>
    </div>
    {% block body %}
    {% endblock %}
    <div id="footer_container">
        Created by ADDVENT team, 2018.
    </div>

</body>
</html>