<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADDVENT</title>
    {% load staticfiles %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'user/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'user:index' %}">

                <img src="{% static 'user/addvent_logo.png' %}" height="30" width="132">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'user:index' %}">
                        Events
                    </a>
                </li>
            </ul>
        </div>



        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="{% url 'user:event-add' %}">
                    Add event
                </a>
            </li>
            <li class="">
                <a href="{% url 'user:register' %}">
                    Register
                </a>
            </li>
            <li class="">
                <a href="#">
                    Login
                </a>
            </li>
        </ul>
    </div>
</nav>
{% block body %}
{% endblock %}

</body>
</html>