{% extends 'user/base.html' %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/event.css' %}">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
    <div id="event_container">
        <form id="event_form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'user/form-template.html' %}
            <div>
                <button class="button" type="submit">Add event</button>
            </div>
        </form>
    </div>
    {% else %}
        <div id="event_container">
            <p id="event_warning">
                You need to log in first.
            </p>
        </div>
    {% endif %}
{% endblock %}