{% extends 'user/base.html' %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="header_user_data">
            Logged as: {{ user.get_username }}.
        </div>
    {% endif %}
    <div id="crawler_container">
        <input id="crawler_input" type="text" name="crawler" placeholder="Enter the name of the event...">
        <button id="crawler_button">Search</button>
    </div>
    <div id="contents_container">
        <div id="contents_featured">
            <div id="featured_header">
                Featured events:
            </div>
            <div id="featured_events">
                {% if all_events %}
                    {% for event in all_events|slice:":3" %}
                        <div class="featured_events_photo">
                        </div>
                    {% endfor %}
                    {% for event in all_events|slice:":3" %}
                        <div class="featured_events_data">
                            <a href="{% url 'user:detail' event.id %}">{{ event.name }}</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div id="featured_events_message">
                        <h2>There aren't any featured events.</h2>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if all_events %}
        <div id="contents_categorized">
            <div class="categorized_header">
                Events:
                <div class="header_underliner">
                </div>
            </div>
            <div class="categorized_events">
                {% for event in all_events %}
                    <div class="categorized_events_photo">
                    </div>
                    <div class="categorized_events_data">
                        <a href="{% url 'user:detail' event.id %}">{{ event.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% else %}

            <div id="contents_categorized">
            <div class="categorized_header">
                Events:
                <div class="header_underliner">
                </div>
            </div>
            <div class="categorized_events">
                <h2>There aren't any events.</h2>
            </div>
        </div>
        {% endif %}
    <div>

{% endblock %}